*{
  background-color: blue;
  text-align: center;
  color: white;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

button{
  margin: 20px;
}

img{
  margin: 10px;
  height: 15px;
}

#message{
  margin: 20px 0px;
}

#grid-container {
  display: grid;
  grid-template-rows: repeat(5, 10vmin);
  grid-template-columns: repeat(5, 10vmin);
  grid-gap: 0vmin;
  border: 1px solid white;
  
}

#ship-container{
  display: flex;
  margin: 15;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-square{
  border: 1px solid white;
}

.ship-here{
  background-color: grey;
  border: 1px solid white;
}

.target-here{
  background-color: purple;
}

.hit{
  background-color: darkred;
}

.miss{
  background-color: lightblue;
}