@font-face {
  font-family: NFLDOLPH;
  src: url(../assets/fonts/NFLDOLPH.TTF);
}

*{
  background-color: #200f09;
  text-align: center;
  color: #A4E3AE;
  margin: 0;
}
 
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background-color: #200f09;
  text-align: center;
  color: #A4E3AE;
  margin: 0;
}

button{
  margin: 20px;
}

img{
  margin: 10px;
  height: 15px;
}

.grid-square{
  border: 1px solid #A4E3AE;
  border-radius: 5px;
}

.ship-here{
  background-color: #549060;
  border: 1px solid #A4E3AE;
}

.target-here{
  background-color: #549060;
}

.hit{
  background-color: red;
}

.miss{
  background-color: #A4E3AE;
}

.rotate90 {
  transform: rotate(90deg);
}

.modal-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-light{
  background-color: #A4E3AE;
  border-color:black;
}

.modal-header h1{
  margin: 50px 0 0 0;
  font-size: 175px;
}

.modal-dialog{
  display:flex;
  flex-direction: column;
  align-items: center;
}

#rotate-btn{
  display: none; 
}

#message{
  margin: 0 0 15px 0;
}

#grid-container {
  grid-gap: 0.1vmin;
}

#ship-container{
  display: flex;
  margin: 15;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 175px;
}

#sunk-text{
  color:red;
  font-size: 50px;
}

#game-name{
  font-family: NFLDOLPH;
  margin: 15px 0 0 0;
  font-size: 70px;
}